/* Estilos básicos */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.chat-container {
  padding: 20px;
  position: relative;
}
/* Estilos das mensagens */
li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  background-color: #ebdede;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
#name {
  font-weight: bold;
}
.timestamp {
  color: #888;
}
.message-content p {
  margin: 0;
}
/* Estilos adicionais, como barra de rolagem */
.chat-container {
  overflow-y: auto;
  max-height: 500px;
}

/* Estilos responsivos */
@media screen and (max-width: 600px) {
  .chat-container {
    padding: 10px;
  }
  #name,
  #message,
  button {
    width: 100%;
    margin-bottom: 10px;
  }
}
/* Estilos para o campo de input fixo */
.input-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #867b7b;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-container .input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.input-container input {
  margin-right: 10px;
  flex-grow: 1;
  min-width: 0;
  border-radius: 20px;
}
button{
  border-radius: 20px;
}
